:root {
  --primary-color: #c1a14e;
  --secondary-color: #000;
  --secondary-variants-color: #323232;
  // 強調色
  --error-color: #a90e21;
  --warning-color: #ffd335;
  --success-color: #99c2ec;
  // 文字
  --text-primary: #fff;
  --text-secondary: #bdbdbd;
  --text-bold: 500;
}
